<body>
    <div class="container">
        <div class="box">
            <h1>SIGN UP </h1>
            <div class="tbox">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    
                    <i class="fa fa-user icon" aria-hidden="true"></i>
                    <input type="text" name="uname" formControlName="uname" placeholder=" Enter your Name"
                        id="bk_name"><br />
                        <div *ngIf="(this.registerForm.get('uname')?.touched || this.registerForm.get('uname')?.dirty)&&this.registerForm.get('uname')?.errors" class="warnings">Invalid Username</div>

                    <i class="fa fa-user-plus icon" aria-hidden="true"></i>
                    <input type="text" name="acno" formControlName="acno" placeholder="Enter Account Number"
                        id="bk_acno"><br>
                        <div *ngIf="(this.registerForm.get('acno')?.touched || this.registerForm.get('acno')?.dirty)&&this.registerForm.get('acno')?.errors" class="warnings">Invalid Account No.</div>


                    <i class="fa fa-lock icon" aria-hidden="true"></i>
                    <input type="password" name="pwd" formControlName="pwd" placeholder="Enter your password"
                        id="bk_pwd"><br />
                        <div *ngIf="(this.registerForm.get('pwd')?.touched || this.registerForm.get('pwd')?.dirty)&&this.registerForm.get('pwd')?.errors" class="warnings">Invalid Password</div>


                    <div>
                        <button type="submit">Create Account</button>
                    </div><br>

                </form>
            </div>

            <a class="already" style="text-decoration: none ;color: whitesmoke;" routerLink="">Already Have an Account
                ?</a>
        </div>


    </div>
</body>